body, html {
    height: 100%;
    margin: 0;
}

.nav-pills .nav-link.active {
  background-color: var(--bs-secondary);
  color: #fff;
}

.nav-pills .nav-link {
  color: var(--bs-secondary);
}

.nav-pills .nav-link:not(.active) {
  background-color: #fff;
}

.github-logo {
    height: 32px;
    width: auto;
}

.content-container {
    min-height: calc(100% - 56px);
}

footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

.blockquote {
  font-size: 1.5em;
}
.blockquote-footer {
  font-size: 1em;
}

a.pointer {
  cursor: pointer;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #2474ff;
}

a.pointer:hover {
  color: #d73b1c;
  border-bottom: 2px solid #d73b1c;
}

a.question-tooltip > i {
  position: absolute;
  margin-left: 5px;
  margin-top: 4px;
  font-size: 2.5vh;
}

.grid-item {
  margin: 5px;
  width: 200px;
}

.grid-item > img {
  width: 100%;
  height: auto;
}


/* data viz css */
#pointtooltip {
  position: absolute;
  visibility: hidden;
  padding: 8px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: left;
  font-size: 12px;
  color: #333;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

/* Chrome, Safari */
input[type="range"].form-range::-webkit-slider-thumb {
  background-color: var(--bs-secondary);
  -webkit-appearance: none;
  margin-top: -9px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
}
/* Firefox */
input[type="range"].form-range::-moz-range-thumb {
  background-color: var(--bs-secondary);
  border: none;
  width: 19px;
  height: 19px;
  border-radius: 50%;
}
/* IE and Edge */
input[type="range"].form-range::-ms-thumb {
  background-color: var(--bs-secondary);
  border: none;
  width: 19px;
  height: 19px;
  border-radius: 50%;
}
/* track for WebKit browsers */
input[type="range"].form-range::-webkit-slider-runnable-track {
  background-color: #ddd;
  height: 2px;
}

.color-display {
  width: 100px;
  height: 100px;
}

.chart-menu-button {
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

/* animations */
@keyframes blink {
  50% { opacity: 0; }
}
.typing-cursor {
  animation: blink 1s step-end infinite;
}
